{% include header.html %}

<article class="about">
    <h1>About Me</h1>
    <p>I’m a graphic designer based in Helsinki. I’m currently working as a freelancer and looking for job
        opportunities.<br>
    </p>
    <p>
        I grew up in Kiviniemi, a small port town near the city of Oulu. After graduating from Upper Secondary School I
        began studying visual culture in Oulu University of Applied Sciences. I studied graphic design and participated
        in Oulu Game Lab during my studies. I learned a lot about making games and even took part in making a published
        mobile game State of Matter.<br>
    </p>
    <p>
        After graduating as a Bachelor of Media and Arts, I moved to Helsinki. My aim is to craft beautiful and
        functional designs. I’m skilled in graphic design, layout design and digital illustrations.<br>
    </p>
    <p>
        Currently I’m immersing in web design and learning how to code.</p>
</article>

{% include footer.html %}