{% include header.html %}

<article class="about single_post_top">
    <div class="container">
        <h1>About Me</h1>
        <p>I’m a designer and an IT student based in Helsinki.
            I currently work as a UI-designer in Telia Finland's Design System team.<br>
        </p>
        <p>
            I grew up in Kiviniemi, a small port town near the city of Oulu. After graduating from Upper Secondary
            School I began studying visual culture in Oulu University of Applied Sciences. I dabbled in game making
            before getting interest in web design.
            To be a better designed, I decided to enroll to IT studies in Laurea University of Applied Sciences.<br>
        </p>
        <p>
            I aim to be a great UI/UX-designer who to crafts beautiful and
            functional designs, always taking account web accessibility.<br>
        </p>
    </div>
</article>

{% include footer.html %}