{% include header.html %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" id="layoutdesign" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" id="graphicdesign" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" id="art" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" id="uidesign" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner carousel-custom">
        <div class="carousel-item layoutdesign active">
            <h1>Layout design</h1>
        </div>
        <div class="carousel-item graphicdesign">
            <h1>Graphic Design</h1>
        </div>
        <div class="carousel-item art">
            <h1>Art</h1>
        </div>
        <div class="carousel-item uidesign">
            <h1>UI Design</h1>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% for post in site.categories.layoutdesign %}
{% if post.url %}
<div class="single_post layoutdesign">
    <h1>{{ post.title }}</h1>
    <p>{{post.content}}</p>
    {% for item in post.images %}
        <img {% if forloop.first == true %}class='opaque'{% endif %} src="{{site.baseurl}}/images/{{ item }}">
    {% endfor %}
</div>
{% endif %}
{% endfor %}

{% for post in site.categories.art %}
{% if post.url %}
<div class="single_post games">
    <h1>{{ post.title }}</h1>
    <p>{{post.content}}</p>
    <img class="d-block w-100" src="{{site.baseurl}}/images/{{post.image}}" alt="First slide">
</div>
{% endif %}
{% endfor %}

{% for post in site.categories.graphicdesign %}
{% if post.url %}
<div class="single_post graphicdesign">
    <h1>{{ post.title }}</h1>
    {% if post.carouselImages %}
    <div id="cf7" class="shadow">
        {% for item in post.carouselImages %}
        <img {% if forloop.first == true %}class='opaque'{% endif %} src="{{site.baseurl}}/images/{{ item }}">
        {% endfor %}
    </div>
    <p id="cf7_controls">
        {% for item in post.carouselImages %}
        <span {% if forloop.first == true %}class="selected"{% endif %} >Image {{ forloop.index }}</span>
        {% endfor %}
      </p>
    {% endif %}
</div>
{% endif %}
{% endfor %}

{% for post in site.categories.uidesign %}
{% if post.url %}
<div class="single_post games">
    <h1>{{ post.title }}</h1>
    <p>{{post.content}}</p>
    <img class="d-block w-100" src="{{site.baseurl}}/images/{{post.image}}" alt="First slide">
</div>
{% endif %}
{% endfor %}

{% include footer.html %}